body{
    background-image: url(pexels-eberhard-grossgasteiger-1287145.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100%;
    width: auto;
}

/* html {
    background: url(pexels-cliford-mervil-2469122.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    height: auto;
  } */

.container{
    margin:5px auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

input {
    padding: 15px 150px;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    border: 2px solid white;
}
button{
    margin-top: 1.5rem;
    border-radius: 3px;
    border: 2px solid white;
    padding: 12px;
    color:teal; 
}

button:active{
    transform: scale(0.9);
}

#city, p, #temp, #des{
    font-size: 25px;
    color:teal; 
    font-weight: 700;
}